{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Banner Section Start-->
        <section class="banner">
            <div class="container">
                <div class="col-lg-12">
                    <div class="banner-nav">
                        <div class="banner-box">
                            <a href="{% url 'index' %}">خانه</a>
                            <a>درباه ما</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End-->

        
         <section class="about">
            <div class="container">
                <header class="section-header">
                    <h3>درباره ما</h3>
                </header>

                <div class="row align-items-center about-row">
                    <div class="col-md-6">
                        <h2 class="title">به وبسایت ما خوش آمدید</h2>
                        <p>
                            آزمایشگاه پایش صنعت آسیا نوین، با بیش از 18 سال سابقه در زمینه انجام آنالیز های محیط زیستی و به عنوان آزمایشگاه برتر و مجهزترین آزمایشگاه شمالغرب ایران، آماده ارائه خدمات از قبیل آنالیز فیزیکوشیمیایی، میکروبیولوژی، هوا و صوت، فلزات سنگین و خاک می‌باشد.
                        </p>
                        <div class="read-more">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'img/about.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="row about-cols">
                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="{% static 'img/tr-1.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-medal"></i></div>
                            </div>
                            <h2 class="title"><a href="#">گواهینامه تحقیق و توسعه (R&D)</a></h2>
                            <p>
                                دریافت گواهینامه تحقیق و توسعه (R&D) از مدیر کل محترم صنعت، معدن و تجارت استان اردبیل
                            </p>
                            <div class="read-more">
                            <p><br></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="{% static 'img/tr-2.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-medal"></i></div>
                            </div>
                            <h2 class="title"><a href="#">تقدیرنامه</a></h2>
                            <p>
                                دریافت تقدیرنامه از مدیر کل محترم حفاظت محیط زیست استان اردبیل
                            </p>
                            <div class="read-more">
                                <p><br></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="{% static 'img/tr-3.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-settings"></i></div>
                            </div>
                            <h2 class="title"><a href="#">طرح های فنی و مهندسی</a></h2>
                            <p>
                                مشارکت در طراحی و اجرای پروژه ها و طرح های فنی و مهندسی دانشگاه محقق اردبیلی
                            </p>
                            <div class="read-more">
                                <p><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->


{% endblock %}